.hidden{
 display: none;
}



h1,
h2,
h3,
h4,
h5,
h6,
p {
 margin: 0;
}

body {
 font-family: "Roboto", sans-serif;
 color: #434455;
 background-color: #ffffff;
 margin: 0;
}

ul {
 list-style: none;
 margin: 0;
 padding-left: 0;
}

a {
 text-decoration: none;
 color: inherit;
}

.visually-hidden {
 position: absolute;
 width: 1px;
 height: 1px;
 margin: -1px;
 border: 0;
 padding: 0;
 white-space: nowrap;
 clip-path: inset(100%);
 clip: rect(0, 0, 0, 0);
 overflow: hidden; 
}

img {
 max-width: 100%;
 display: block;
 height: auto;   
}
button{
 cursor: pointer;
 }

/* common */

.container {
 max-width: 320px;
 padding-left: 16px;
 padding-right: 16px;
 margin-left: auto;
 margin-right: auto;
}

@media screen and (min-width: 768px) {
 .container {
  max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
.container {
 max-width: 1158px;
 padding-left: 15px;
 padding-right: 15px;
 }
}

    /* header */

.page-header {
 border-bottom: 1px solid #e7e9fc;
 background-color: #ffffff;
 box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
 0 1px 1px 0 rgba(46, 47, 66, 0.16), 
 0 2px 1px 0 rgba(46, 47, 66, 0.08);   
 }

.page-header .container {
 display: flex;
 align-items: center;
 justify-content: space-between;       
}

.nav-list,
.contacts{
 display: none;
}

.logo {
 font-family: "Raleway", sans-serif;
 font-weight: 700;
 font-size: 18px;
 color: #4d5ae5;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;     
}

.header-logo {
 padding: 16px 0;
 display: block;
}
    
.logo-accent {
 color: #2e2f42;    
}

.burger-btn{
 padding: 0;
 border: none;
 background-color: transparent;
} 

.berger-icon{
 display: block;
 fill:#2f2f37;
}

@media screen and (min-width: 768px) {
 .burger-btn {
    display: none; 
 } 

.main-nav {
 display: flex;
 align-items: center;  
}

.nav-list {
 display: flex;
 gap: 40px;
 align-items: center;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .header-logo {
 padding: 24px 0;
 margin-right: 120px; 
}

.nav-link {
 font-weight: 500;
 color: #2e2f42;
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 padding-top: 24px;
 padding-bottom: 24px;
 display: block;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 position: relative; 
}

.nav-link.current {
 position: relative;  
}

.nav-link::after {
 content: "";
 position: absolute;
 left: 0;
 bottom: -1px;
 width: 100%;
 height: 4px;
 border-radius: 2px;
 background-color: #404bbf;
 opacity: 0;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts {
 font-style: normal;
 display: block; 
}

.contacts-list {
 display: flex;
 flex-direction: column;
 gap: 12px;  
} 

.contacts-link {
 color: #434455;
 font-size: 12px;
 line-height: 1.17;
 letter-spacing: 0.04em;
 display: block;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current {
 color: #404bbf;
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after {
 opacity: 1;
}
}

@media screen and (min-width: 1158px) {
.header-logo {
 margin-right: 76px;
}

.contacts-list {
 flex-direction: row;
 gap: 40px;
 align-items: center;
}

.contacts-link {
 font-size: 16px;
 line-height: 1.5;
 letter-spacing: 0.02em;
 padding: 24px 0;
}
}

/* mobile menu */

.mobile-menu{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background-color: #ffffff;
 opacity: 0;
 visibility: hidden;
 pointer-events: none;
 transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
 visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open{
 opacity: 1;
 visibility: visible;
 pointer-events: auto;
}

.mobile-menu-container{
 position: relative;
 padding-top: 72px;
 padding-bottom: 40px;
 display: flex;
 flex-direction: column;
 height: 100%;
}

.mobile-menu-close{
position: absolute;
top: 24px;
right: 24px;
}

.mobile-menu-nav{
margin-bottom: auto;
}



@media screen and (min-width:768px) {
.mobile-menu{
 display: none;
}
}

/* hero-section*/


.hero-section {
 background-color: #2e2f42;
 text-align: center;
 padding: 72px 0;
 background-image: linear-gradient(
 rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url("../images/people-office.jpg");
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
}

.hero-title {
 font-size: 36px;
 line-height: 1.11;
 color: #fff;
 max-width: 216px;
 margin-bottom: 72px;
 letter-spacing: 0.02em;

}

.hero-button {
 padding: 16px 32px;
 font-family: "Roboto", sans-serif;
 font-size: 16px;
 font-weight: 500;
 color: #ffffff;
 background-color: #4d5ae5;
 border: none;
 border-radius: 4px;
 line-height: 1.5;
 letter-spacing: 0.04em;
 cursor: pointer;
 min-width: 169px;
 height: 56px; 
 margin: 0 auto;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
 background-color: #404bbf;
}

@media screen and (min-width: 768px) {
.hero-section {
 padding: 112px 0;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url(../images/hero/hero-background-tablet.jpg);
}

.hero-title {
 font-size: 56px;
 line-height: 1.07;
 max-width: 496px;
 margin-bottom: 36px;
    }
}

.hero-button {
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1158px) {
.hero-section {
 padding: 188px 0;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url(../images/hero/hero-background-desktop.jpg);
}
}

.hero-title {
    margin: 0 auto 48px; }

@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx) {
.hero {
 background-image: linear-gradient(rgba(46, 47, 66, 0.7),
 rgba(46, 47, 66, 0.7)),
 url(../images/hero/hero-background-desktop@2x.jpg);
    }
}


/* advantages-section*/


.advantages {
 padding: 96px 0; 
}

.advantages-list {
 display: flex;
 gap: 72px; 
 flex-direction: column;
}

.advantages-title {
 font-size: 36px;
 font-weight: 700;
 margin-bottom: 8px;
 color: #2e2f42;
 line-height: 1.11;
 letter-spacing: 0.02em; 
 text-align: center;
}

.advantages-text {
 font-size: 16px;
 color: #434455;
 line-height: 1.5;
 letter-spacing: 0.02em;
 font-weight: 500;
}

.icon-wrapper {
 display: none; 
 }

@media screen and (min-width: 768px) {
.advantages-list {
 flex-direction: row;
 flex-wrap: wrap;
 gap: 72px 24px;
}

.advantages-item {
 width: calc((100% - 24px) / 2);
}

.icon-wrapper {
 display: none;
}

.advantages-title {
 text-align: left;
}
}

@media screen and (min-width: 1158px) {
 .advantages {
 padding: 120px 0; 
}

.advantages-list {
 flex-wrap: nowrap;
 gap: 24px;
}

.advantages-item {
 flex-basis: calc((100% - 72px) / 4);
}

.icon-wrapper {
 width: 264px;
 height: 112px;
 background-color: #f4f4fd;
 border-radius: 4px;
 margin-bottom: 8px;
 border: 1px solid #8e8f99;

 display: flex;
 justify-content: center;
 align-items: center;
}

.icon {
 width: 64px;
 height: 64px;
 fill: #4d5ae5; 
}

.advantages-title {
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2; 
}
}


/* team-section*/


.team {
 background-color: #f4f4fd;
 padding: 96px 0;
}

.team-title {
 font-size: 36px;
 font-weight: 700;
 color: #2e2f42;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 text-align: center;
 margin-bottom: 72px;
}

.team-list {
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 72px;
}

.team-item {
 background-color: #ffffff;
 max-width: 264px;
 text-align: center;
 border-radius: 0px 0px 4px 4px;
 box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
  0 1px 1px 0 rgba(46, 47, 66, 0.16),
  0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info {
 padding: 32px 0;
 }

 .team-name {
 font-size: 20px;
 font-weight: 500;
 color: #2e2f42;
 line-height: 1.2;
 letter-spacing: 0.02em;
 text-align: center;
 margin-bottom: 8px;
 }

 .team-position {
 font-size: 16px;
 color: #434455;
 line-height: 1.5;
 letter-spacing: 0.02em;
 margin-bottom: 8px; 
}

.social-list {
 display: flex;
 gap: 24px;
 justify-content: center;
 padding: 0;
 margin: 0;
 list-style: none;
}

.social-link {
 display: flex;
 justify-content: center;
 align-items: center;

 width: 40px;
 height: 40px;
 background-color: #4d5ae5;
 border-radius: 50%;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
 background-color: #404bbf;
}

.social-icon {
 fill: #f4f4fd;
 width: 16px;
 height: 16px; 
}

@media screen and (min-width: 768px) {
.team-list {
 flex-direction: row;
 flex-wrap: wrap;
 justify-content: center;
 gap: 64px 24px;
    }

.team-item {
 flex-basis: calc((100% - 24px) / 2);      }

}

@media screen and (min-width: 1200px) {
.team {
 padding: 120px 0;
 }

.team-list {
 flex-wrap: nowrap;
 gap: 24px;
    }

.team-item {
 flex-basis: calc((100% - 72px) / 4);
}
}

/*portfolio-section*/

.portfolio {
    padding: 96px 0; 
}

.portfolio-title {
 text-align: center;
 font-size: 36px;
 font-weight: 700;
 color: #2e2f42;
 line-height: 1.11;
 letter-spacing: 0.02em;
 margin-bottom: 72px; 
}

.portfolio-list {
 display: flex;
 flex-direction: column;
 gap:48px;
 padding: 0;
 margin: 0;
 list-style: none;
} 

.portfolio-item {
 background-color: #ffffff;
 box-shadow:
 0px 1px 1px rgba(0, 0, 0, 0.08),
 0px 4px 4px rgba(0, 0, 0, 0.06),
 1px 4px 6px rgba(0, 0, 0, 0.12);
}

.portfolio-img {
 display: block;
 width: 100%;
 height: auto; 
}

.portfolio-info {
 padding: 32px 16px;
 border-top: none; 
 border: 1px solid #e7e9fc;
}

.portfolio-subtitle {
 font-size: 20px;
 font-weight: 500;
 color: #2e2f42;
 line-height: 1.2;
 letter-spacing: 0.02em;
 margin-bottom: 8px; 
}

.portfolio-text {
 font-size: 16px;
 font-weight: 400;
 color: #434455;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

@media screen and (max-width: 1157px) {
.overlay-text {
 display: none;
 }
}

@media screen and (min-width: 768px) {
.portfolio-list {
    flex-wrap: wrap;
        gap: 72px 24px;   } 
    
        
        
}