/* ===============================
  Global styles / Глобальні стилі
================================= */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding-left:0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

/* Container for layout / Контейнер для сітки */
.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* ===============================
  Header styles / Стилі хедера
================================= */
.page-header{
  border-bottom: 1px solid #e7e9fc;
  background-color: #ffffff;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  display: flex;
  align-items: center;
}

/* Logo / Логотип */
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #4d5ae5;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo{
  padding: 24px 0;
  margin-right: 76px;
}
.logo-accent {
  color: #2e2f42;
}

/* Navigation / Навігація */
.nav-list {
  display: flex;
  gap: 40px; 
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.nav-link.current{
 position: relative;
}

.nav-link::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #404bbf;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover::after,
.nav-link:focus::after,
.nav-link.current::after{
opacity: 1;
}

.nav-link{
  font-weight: 500;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-top: 24px;
  padding-bottom: 24px;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus,
.nav-link.current{
  color: #404bbf;
}

/* Contacts / Контакти */
.contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
  align-items: center;
}

.contacts-link {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* ===============================
  Hero section / Герой-секція
================================= */

.hero-section {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
  background-image:linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  color: #fff;
  max-width: 496px;
  margin: 0 auto 48px;
  letter-spacing: 0.02em;
}

.hero-button {
    display: block;
    padding: 16px 32px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    background-color: #4d5ae5;
    border: none;
    border-radius: 4px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    min-width: 169px;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* ===============================
  Advantages section / Секція переваг
================================= */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.advantages {
  padding: 120px 0;
}

.advantages-list {
  display: flex;
  gap: 24px;
}

.advantages-item {
  flex-basis: calc((100% - 72px) / 4);
}

.icon-wrapper{
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
  border: 1px solid #8e8f99;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 64px;
  height: 64px;
  fill: #4d5ae5;
}

.advantages-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.advantages-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===============================
  Team section / Секція "Наша команда"
================================= */

.team {
  background-color: #f4f4fd;
  text-align: center;
  padding: 120px 0;
}

.team-title {
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.team-item {
  background-color: #ffffff;
  flex-basis: calc((100% - 72px) / 4);
  text-align: center;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
              0 1px 1px 0 rgba(46, 47, 66, 0.16),
              0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-info{
  padding: 32px 0;
}

.team-name {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-position{
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.social-list{
  display: flex;
  gap:24px;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social-link{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

.social-icon {
  fill: #f4f4fd;
  width: 16px;
  height: 16px;

}
/* ===============================
  Portfolio section / Секція портфоліо
================================= */

.portfolio {
  padding: 120px 0 120px 0;
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  color: #2e2f42;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  padding: 0;
  margin: 0;
  list-style: none;
} 

.portfolio-item {
  flex-basis: calc((100% - 48px) / 3);
  background-color: #ffffff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  }

.overlay-text {
  position: absolute;
  top: 0;
  bottom: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  color: #F4F4FD;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);  
  transform: translateY(100%);
 }

 .portfolio-item:hover .overlay-text,
 .portfolio-item:focus-within .overlay-text {
   bottom: 0;
   transform: translateY(0);
 }

  .portfolio-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
  }

  .portfolio-item:hover,
  .portfolio-item:focus-within {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 
                0 1px 1px 0 rgba(46, 47, 66, 0.16),
                0 1px 6px 0 rgba(46, 47, 66, 0.08);
    }

.portfolio-subtitle {
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-text {
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* ===============================
  Footer / Підвал сайту
================================= */

.footer {
  background-color: #2e2f42;
  color: #ffffff;
  padding: 100px 0;
}

.footer> .container {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.footer-logo-wrapper {
  max-width: 264px;
  margin-right: 120px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-accent {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  margin: 0;
}

.footer-social {
  flex-direction: column;
  gap: 16px;
  
}

.footer-social-text {
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
  justify-content: flex-start;
}

.footer-social-link {
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}


.footer-subscribe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  max-width: 453px;
}

.footer-subscribe-text {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px; 
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-input {
  width: 264px;
  height: 40px;
  padding-left: 16px;
  font-size: 12px;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: border-color 250ms ease;
  line-height: 2;
  letter-spacing: 0.04em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-input::placeholder {
  color: #ffffff;
}

.subscribe-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms ease;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #31d0aa;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}




.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
              visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.backdrop.is-open{
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-windows{
  position: absolute;
  top:50%;
  left:50%;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 
              0 1px 3px 0 rgba(0, 0, 0, 0.12), 
              0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  border-radius: 4px;
  transform: translate(-50%,-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.backdrop:not(.is-open) .modal-form{
   transform: translate(-50%,-100%);
}
.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: #E7E9FC; 
  cursor: pointer;

 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-close-icon {
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf; 
  border: none;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: #ffffff; 
}

.modal-title {
  position: relative;
  display: inline-block;
  color: #2e2f42;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 16px;
  
}


.modal-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background-color: #404bbf;
  opacity: 0; /* невидима */
  transition: opacity 250ms ease;
  border-radius: 1px;
}


.modal-title:hover::after,
.modal-title:focus::after {
  opacity: 1;
}



.box-label-modal {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
  
}

.box-label-modal-comment{
  margin-bottom: 16px;
}

.label-modal {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}

.box-input-modal {
  position: relative;
}

.input-modal {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent; 
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent; 

}

.input-modal[type="text"],
.input-modal[type="tel"],
.input-modal[type="email"] {
  height: 40px;
  padding: 11px 16px 11px 38px;
  font-size: 14px;
}

.textarea-modal {
  height: 120px;
  padding: 8px 16px;
  resize: none;
  font-size: 12px; 

} 

.icon-modal {
  position: absolute;
  left: 16px;
   top: 50%; 
  transform: translateY(-50%);
  fill: #2e2f42;
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
}
.input-modal:focus,
.input-modal:hover{
  border-color: #4d5ae5;
  outline: none;
}
.input-modal:focus ~ .icon-modal {
  fill: #4d5ae5;
}

.checkbox-wrapper{
 margin-bottom: 24px;  
}

.privacy-label{
  font-size: 12px; 
  line-height: 1.17; 
  letter-spacing: 0.04em;
  color: #8e8f99;
        
  align-items: center;
  gap: 8px;                    
  padding: 4px 8px;             
  border: 1px solid transparent; 
  border-radius: 4px;
  transition: border-color 250ms ease;
  cursor: pointer; 
  white-space: nowrap;             
}

.custom-checkbox{
  display: inline-flex; 
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-label:hover span.custom-checkbox {
  border-color: #4d5ae5;
}




.checkbox-input:checked ~ .privacy-label > .custom-checkbox {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.privacy-link{
color: #4d5ae5;
}

.privacy-link:hover,
.privacy-link:focus {
  text-decoration: underline;
  color: #404bbf;
}

.send-button {
  display: block;
  margin: 16px auto 0 auto;
  padding: 12px 32px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  min-width: 169px;
  height: 56px;
}

.send-button:hover,
.send-button:focus {
  background-color: #404bbf; 
  transform: scale(1.05); 
  outline: none;
}


